<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Spring Boot</title>



<link rel="stylesheet" media="screen"
	href="https://cdn.jsdelivr.net/bootstrap/3.3.7/css/bootstrap.min.css"
	th:href="@{https://cdn.jsdelivr.net/bootstrap/3.3.7/css/bootstrap.min.css}"></link>
<script type="text/javascript"
	src="https://cdn.jsdelivr.net/jquery/3.2.1/jquery.min.js"
	th:href="@{https://cdn.jsdelivr.net/jquery/3.2.1/jquery.min.js}"></script>

</head>
<body>asdfasdfasdf
</body>
</html>
